body {
	font-family: Arial;
}
.container {
	width: 50%;
	border-style: solid;
	border-width: 3px;
	border-color: #d3d3d3;
}
#top {
	color: #fff;
	background-color: #3d4f5b;
	display: flex;
	justify-content: space-around;
}
h2 {
	font-weight: lighter;
}
#bottom {
	display: flex;
}

/*Left column*/

#left {
	width: 25%;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #434343; /* For browsers that do not support gradients */
	background-image: linear-gradient(to right, #424242, #6d6d6d);
}
#picture  {
	margin-top: 20px;
	text-align: center;
	margin-bottom: 30px;
}
#picture img {
	max-width:70%;
	border-radius: 40%;
	border: 2px solid #d3d3d3;
}
h1 {
	font-weight: lighter;
	color: #fff;
	margin-bottom: 0px;
}
.line-left {
	height: 3px;
	background-color: #ffff00;
}
.p-left {
	margin-top: 20px;
	text-align: center;
	color: #fff;
	text-decoration: underline;
	font-weight: bold;
	font-size: 110%;
}
#span-one {
	font-size: 75%;
	color: #fff;
	background-color: #ffa500;
	border-radius: 5px;
	padding-left: 40px;
	padding-right: 40px;
}
#span-two {
	font-size: 75%;
	color: #fff;
	background-color: #0174df;
	border-radius: 5px;
	padding-left: 20px;
	padding-right: 20px;
}
#span-three {
	font-size: 75%;
	color: #fff;
	background-color: #008000;
	border-radius: 5px;
	padding-left: 60px;
	padding-right: 60px;
}
.ul-one {
	list-style: none;
	padding-left: 0px;
}
.ul-two {
	list-style: none;
	padding-left: 15px;
}
.ul-two li {
	padding-bottom: 5px;
}
a {
	color: #2bbfff;
}

/*Right column*/

#right {
	width: 75%;
	padding-left: 10px;
	padding-right: 20px;
	color: #084b8a;
}
#right p {
	margin-top: 12px;
	margin-bottom: 12px;
}
.right-header {
	font-weight: bold;
}
.line-right {
	height: 2px;
	background-color: #0080ff;
}



